<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .cart-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .cart-item img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 20px;
    }

    .cart-total {
        font-weight: bold;
        margin-top: 20px;
        text-align: right;
    }

    .checkout-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .clear-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: red;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }


    .checkout-button:hover {
        background-color: #0056b3;
    }
</style>

<script>
function deleteCart(cartId) {

    fetch(`/api/cart/${cartId}`, {
        method: 'DELETE',
    })
    .then(response => {
        if (response.status === 204) {
            console.log('Carrito eliminado con éxito.');
        } else {
            console.error('Error al eliminar el carrito:', response.statusText);
        }
    })
    .catch(error => {
        console.error('Error al realizar la solicitud DELETE:', error);
    });


    window.location.href = "/profile";
}
</script>

<div class="cart-container">
<h1>Carrito de Compras</h1>
{{#each products}}
    <div class="cart-item">
        <img src={{_id.thumbnail}} alt={{_id.title}}>
        <div>
            <h2>{{_id.title}}</h2>
            <p>Precio: ${{_id.price}}</p>
            <p>Cantidad: {{quantity}}</p>
        </div>
    </div>
{{/each}}
<div class="cart-total">
    Total: ${{totalPrice}}
</div>
<form action="/api/cart/{{cid}}/purchase" method="POST">
    <button type="submit" class="checkout-button">Pagar</button>
</form>
<button onclick="deleteCart('{{cid}}')" class="clear-button">Vaciar Carrito</button>
</div>