<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}
li h2 {
    margin: 0;
}
p {
    margin: 5px 0;
}
a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
}
.saludo{
    margin-top: 30px;
    margin-left: 25px;
}

.logout-btn{
    margin-top: 30px;
    margin-right: 25px;
}

.logout-btn:hover{
    text-decoration: underline;
}
</style>

<header>
<h1 class="saludo">Bienvenid@, {{ name }} {{ lastName }}, tu perfil es de <span style="color: red;">{{role}}</span></h1>
<a class="logout-btn" href="/logout">Logout</a>
</header>
<div class="container">
<h1>Lista de Productos</h1>
<p>Página {{currentPage}} de {{totalPages}}</p>
<ul>
    {{#each products}}
    <li>
        <div>
            <h2>{{title}}</h2>
            <p>Precio: ${{price}}</p>
            <p>Categoría: {{category}}</p>
            <a href="/productViews/products/{{_id}}">Ver Detalles</a>
            <form action="/cart/add" method="POST">
                <input type="hidden" name="productId" value="{{_id}}">
                <button type="submit">Añadir al Carrito</button>
            </form>
        </div>
    </li>
    {{/each}}
</ul>
</div>